@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
* {
  margin: 0;
  font-family: "Nunito", sans-serif;
}
body {
  background-color: #18191a;
}
.carrousel-container {
  width: 100% !important;
  height: 30vh !important;
  position: relative;
  overflow: hidden;
}
.img-slide {
  width: 100% !important;
  height: 30vh !important;
  object-fit: cover;
}
.carousel-indicators {
  display: none;
}
.nav-link-custom {
  font-size: large;
  color: #ffffff !important;
  transition: 0.5s all ease-in-out;
}
.nav-link-custom:hover {
  scale: 1.1;
}
.focus-link-custom {
  border-bottom: 3px solid #ffffff !important;
}

.foto-perfil {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.custom-dropdown-toggle::after {
  display: none;
}
.placeholder-comment {
  background-color: #242526 !important;
}
.placeholder-comment::placeholder {
  color: #ffffff !important;
}
.placeholder-comment::placeholder:hover {
  background-color: #242526 !important;
}

.label-modal::after {
  background-color: transparent !important;
}
/* Estilos para pantallas medianas (md) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-publication {
    width: 80%;
  }
}

/* Estilos para pantallas grandes (lg) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-publication {
    width: 60%;
  }
}

/* Estilos para pantallas extra grandes (xl) */
@media (min-width: 1200px) {
  .card-publication {
    width: 45%;
  }
}
